* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 5vh;
  width: 45%;
  margin: 0 auto;
  margin-top: 42em;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 9em;
  
}
body {
  height: 20vh;
  background: url("../images/drop-of-water-578897_1280.jpg") no-repeat
    center center/cover;
}

.hero_image {
  background: transparent;
  border-radius: 20%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}




header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border-bottom: 2px solid #162938;
  background-color: #e8f4ff;
}
header .nav_bar a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}



header .nav_bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100px;
  height: 3px;
  background: #162938;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform.5s;
}
header .nav_bar a:hover::after {
  transform: scaleX(1);
}
header .log-in {
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid #162938;
  outline: none;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-left: 40px;
  border-radius: 6px;
  transition: 1s;
}
header .log-in:hover {
  background: #fff;
  color: #162938;
}
.main_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 17em;
}
.main_content h1 {
  color:#162938;
  font-size: 3em;
}
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 28em;
  margin-left: 60em;
  background-color: #162938;
  color: white;
  text-align: center;
  border: none;
  outline: none;
  border: #162938;
  border-radius: 7px;
  width: 15%;
  padding: 2em 2em;
}
.submit-btn a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}
.submit-btn a:hover {
  color: aqua;
  text-decoration: underline;
}

footer {
  height: 20vh;
  background-color: black;
  margin-top: 10em;
}
.footer_links a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 4em;
  margin-top: 5em;
  justify-content: center;
  align-items: center;
}
.footer_links a:hover {
  color: aqua;
  text-decoration: underline;
}
.footer_links {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-size: 1.3em;
}
.footer__contacts--right {
  display: flex;
  color: white;
  justify-content: center;
  gap: 1.3em;
}
.footer__contacts--right li {
  list-style-type: none;
  display: flex;
  margin-top: 2em;
}

.footer_links a {
  text-decoration: none;
  color: white;
  display: flex;
}
.footer_links a:hover {
  color: aqua;
  text-decoration: underline;
}

.footer_container li {
  color: white;
  list-style-type: none;
  display: flex;
  gap: 1.4em;
  text-align: center;
}
.reason {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 500px;
  margin-bottom: 500px;
  gap: 5em;
  margin-left: 3em;
}
.reason h1{
  font-size:3em;
}
.reason p{
  font-size: 2em;
}
.reason img{
  background: transparent;
  border-radius: 20%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.reason__content{
  display: flex;
 flex-direction: column;
}
@media screen and (max-width: 600px) {
}
