* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url("../images/login.jpg") no-repeat center center/cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border-bottom: 2px solid #162938;
  background-color: #e8f4ff;
}
header .nav_bar a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
header .nav_bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform.5s;
}
header .nav_bar a:hover::after {
  transform: scaleX(1);
}
header .log-in:hover {
  background: #fff;
  color: #162938;
}
.form_box {
  position: relative;
  height: 455px;
  width: 500px;
  background: transparent;
  border-radius: 25%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12em;
}

.form_box .active {
  height: 250px;
}

.box-login h2 {
  font-size: 2em;
  text-align: center;
  color: #162938;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50px);
  font-size: 1.1em;
  color: #162938;
  font-weight: 500;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
}
.remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
}
.remember_forgot label input {
  accent-color: #162938;
  margin: 3px;
}
.remember_forgot a {
  color: #162938;
  text-decoration: none;
}
.remember_forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.login-link {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-link p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.login-link p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 450px) {
}
